.slide--sherlock {
  background-color: var(--color-a);
  background-image: url(../img/sherlock.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 101% auto;
  position: relative;
}

.slide--sherlock_sentenceWrapper {
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  display: flex;
  height: 15rem;
  justify-content: center;
  line-height: 1;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  position: absolute;
  text-align: center;
  top: 3rem;
  width: 25rem;
}

.slide--sherlock_sentenceWrapper[data-character="watson"] {
  background-image: url(../img/sherlock-bubble.svg);
  right: 9rem;
}

.slide--sherlock_sentenceWrapper[data-character="sherlock"] {
  background-image: url(../img/sherlock-bubble-left.svg);
  left: 9rem;
}

.slide--sherlock_sentence {
  color: var(--color-f);
  font-family: "Just Another Hand", sans-serif;
  font-size: 4.2rem;
}
