[data-slide="listing"] {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

[data-slide="listing"] .title {
  color: var(--color-ccc);
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

[data-slide="listing"] .codeBlock {
  background-color: #f7f7f7;
  border-radius: 0.25rem;
  box-sizing: border-box;
  font-family: "Operator Mono Book", monospace;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

[data-slide="listing"] .codeBlock .hljs-string {
  font-style: italic;
}

@media (min-aspect-ratio: 14/9) {
  [data-slide="listing"] .codeBlock {
    font-size: 1.6rem;
  }
}

.cookie-key {
  color: var(--color-bbb);
}

.cookie-value {
  color: var(--color-ddd);
}

.cookie-sign {
  color: #333;
  font-weight: normal;
}
