[data-slide="listing"] {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

[data-slide="listing"] .title {
  color: var(--color-ccc);
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

[data-slide="listing"] .title.title--url {
  margin-bottom: 1.5rem;
}

[data-slide="listing"] .title a {
  color: var(--color-bbb);
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

[data-slide="listing"] .title code {
  color: var(--color-bbb);
}

[data-slide="listing"] .codeBlock {
  background-color: #f7f7f7;
  border-radius: 0.25rem;
  box-sizing: border-box;
  font-family: "Operator Mono Book", monospace;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

[data-slide="listing"] .codeBlock[data-lang=c] {
  font-size: 1rem;
}

[data-slide="listing"] .codeBlock .hljs-string {
  font-style: italic;
}

@media (min-aspect-ratio: 14/9) {
  [data-slide="listing"] .codeBlock {
    font-size: 1.6rem;
  }
}

.cookie-key {
  --the-color: var(--color-ccc);
  color: var(--the-color);
}

.cookie-key ~ .cookie-key {
  --the-color: var(--color-bbb);
}

.cookie-value {
  --the-color: var(--color-ddd);
  color: var(--the-color);
}

.cookie-sign {
  color: #333;
  font-weight: normal;
}

/* URLS */

.url-protocol {
  --the-color: var(--color-bbb);
}

.url-host,
.url-subdomain,
.url-domain {
  --the-color: var(--color-ccc);
}

.url-port {
  --the-color: var(--color-ddd);
}

.url-path {
  --the-color: var(--color-a);
}

.url-protocol,
.url-host,
.url-subdomain,
.url-domain,
.url-domainPrefix,
.url-domainSuffix,
.url-port,
.url-path {
  position: relative;
  color: var(--the-color);
}

.url--label {
  left: 50%;
  opacity: 0;
  position: absolute;
  top: -4rem;
  transform: translateX(-50%);
}

.url--label::before {
  border-bottom: 0.1rem solid var(--the-color);
  bottom: 0;
  content: ' ';
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
}

.url--label::after {
  border-left: 0.1rem solid var(--the-color);
  bottom: -1.75rem;
  content: ' ';
  display: block;
  height: 1.75rem;
  position: absolute;
  transform: translateX(50%);
  width: 100%;
}

.url--wrong {
  opacity: 0.5;
  /* text-decoration: line-through; */
}

.url--withCookies::before {
    content: ' ';
    display: block;
    position: absolute;
    background-image: url(../../img/cookie.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% auto;
    width: 2rem;
    transform: translateX(-3rem);
}
