[data-slide="poster-bristol"] {
  background-image: url(../../img/voxxed-bristol.jpg);
  background-size: cover;
  background-position: left center;
  font-family: "Helvetica", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

[data-slide="poster-bristol"] .main {
  align-self: flex-end;
  font-weight: bold;
  text-align: center;
  width: calc(var(--slide-width) * 0.7);
}

[data-slide="poster-bristol"] .pretitle,
[data-slide="poster-bristol"] .title {
  color: var(--color-bristol-a);
  line-height: 1.4;
}

[data-slide="poster-bristol"] .pretitle {
  font-size: 2.5rem;
}

[data-slide="poster-bristol"] .title {
  font-size: 4rem;
}

[data-slide="poster-bristol"] .author,
[data-slide="poster-bristol"] .author-company,
[data-slide="poster-bristol"] .date {
  color: var(--color-f);
  font-size: 1.5rem;
}

[data-slide="poster-bristol"] .social {
  background-color: var(--color-bristol-a);
  bottom: 0;
  box-sizing: border-box;
  color: var(--color-a);
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 0 1rem;
  position: absolute;
  width: var(--slide-width);
}
