[data-slide="warning"] {
  background-color: var(--color-a);
  font-family: 'PT Sans Narrow', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  padding: 0 7vw;
  box-sizing: border-box;
  line-height: 1.4;
}

[data-slide="warning"] .keyword {
  font-size: 6rem;
  color: var(--color-ddd);
  text-align: center;
}

[data-slide="warning"] .message {
  font-size: 2rem;
  color: var(--color-f);
  text-align: justify;
}

[data-slide="warning"] .question {
  display: block;
  color: var(--color-ddd);
  margin: 1rem 0;
  text-align: center;
}
